.header-1 {
    background-color: #1d809f;
}

.bg-secondary {
    background-color: #ecb807!important;
}

.equidistant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}