.header-1 {
    background-color: #1d809f;
}

.bg-secondary {
    background-color: #ecb807!important;
}

.equidistant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image_title {
    text-align: center;
    color: white;
    background-image: url("../img/visualisation.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    min-height: 700px;
}

.portfolio_headers {
    text-align: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(29, 128, 159, 1) 50%, rgba(255, 255, 255, 0) 100%);
}

.coell {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/company.jpg);
    background-blend-mode: saturation;
}

.ai {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/cgiLandscape.png);
    background-blend-mode: saturation;
}

.cairn {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/rainwindow.jpg);
    background-blend-mode: saturation;
}